<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <header class="position relative flex justify-end align-items-center w-full p-4 bg-[#474545] text-white">
        <div id="logo" class="position absolute top-0 left-2" style="background-image: url('{{ logo_background }}'); background-size: cover; background-position: center;">
            <img src="{{ logo }}" width="200">
        </div>
        {% if rol == 'usuario' %}
        <div class="w-10 h-10 flex justify-between" style="width: calc(100% - 200px);">
            <a href="#" onclick="window.pywebview.api.cargar_home()" class="flex items-center"><img src="{{ logo_buho }}" alt=""> Inicio</a>
            <a href="#" onclick="window.pywebview.api.cargar_solicitudes()" class="flex items-center">Solicitudes</a>
            <a href="#" onclick="window.pywebview.api.cargar_eventos()" class="flex items-center">Eventos</a>
            <a href="#" onclick="window.pywebview.api.cargar_mapa()" class="flex items-center">Mapa</a>
            <a href="#" onclick="window.pywebview.api.cargar_login()" class="flex items-center bg-[#94B43B] text-black w-24 justify-center">Salir</a>
        </div>
        {% elif rol == 'admin' %}
        <div class="w-10 h-10 flex justify-between" style="width: calc(100% - 200px);">
            <a href="#" onclick="window.pywebview.api.cargar_home()" class="flex items-center"><img src="{{ logo_buho }}" alt=""> Inicio</a>
            <a href="#" onclick="window.pywebview.api.cargar_solicitudes()" class="flex items-center">Solicitudes</a>
            <a href="#" onclick="window.pywebview.api.cargar_eventos()" class="flex items-center">Eventos</a>
            <a href="#" onclick="window.pywebview.api.cargar_mapa()" class="flex items-center">Mapa</a>
            <a href="#" onclick="window.pywebview.api.cargar_login()" class="flex items-center bg-[#94B43B] text-black w-24 justify-center">Salir</a>
        </div>
        {% elif rol == 'invitado' %}
        <div class="w-10 h-10 flex justify-between" style="width: calc(100% - 200px);">
            <a href="#" onclick="window.pywebview.api.cargar_home()" class="flex items-center"><img src="{{ logo_buho }}" alt=""> Inicio</a>
            <a href="#" onclick="window.pywebview.api.cargar_mapa()" class="flex items-center">Mapa</a>
            <a href="#" onclick="window.pywebview.api.cargar_login()" class="flex items-center bg-[#94B43B] text-black w-24 justify-center">Login</a>
        </div>
        {% endif %}
    </header>
    <div id="content"> {% block content %} {% endblock %} </div>
</body>
</html>