{% extends "base.html" %}
{% block content %}
<div class="p-2"> 
    <h1 class="text-2xl font-bold text-center">UN-Mapa</h1>
    <p class="text-lg mb-4">Bienvenido {{ nombre }}</p>

    <div class="flex flex-col gap-4">
        <div class="">
            <!-- Select de Origen -->
            <label for="origen" class="font-bold">Origen:</label>
            <select id="origen" class="w-full border border-[#94B43B] rounded p-1">
                {% for id, nombre in ubicaciones %}
                    <option value="{{ id }}">{{ nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="">
            <!-- Select de Destino -->
            <label for="destino" class="font-bold">Destino:</label>
            <select id="destino" class="w-full border border-[#94B43B] rounded p-1">
                {% for id, nombre in ubicaciones %}
                    <option value="{{ id }}">{{ nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Botón para ir a Google Maps -->
        <button onclick="abrirRuta()" class="bg-[#94B43B] text-black px-4 py-1 rounded">Cargar en Google Maps</button>
        <!-- Botón para cargar ubicación -->
        <a href="#" onclick="window.pywebview.api.cargar_ubicacion(document.getElementById('origen').value)" class="w-full bg-slate-500 text-slate-50 w-24 text-center px-4 py-1 rounded">Más información sobre el lugar de origen</a>
    </div>
    <!-- Script para manejar la ruta a google maps -->
    <script>
    function abrirRuta() {
        const origen = document.getElementById("origen").value;
        const destino = document.getElementById("destino").value;
    
        if (!origen || !destino) {
            alert("Debes seleccionar tanto el origen como el destino.");
            return;
        }
    
        if (origen === destino) {
            alert("El origen y el destino no pueden ser iguales.");
            return;
        }
    
        window.pywebview.api.abrir_ruta(parseInt(origen), parseInt(destino)).then(response => {
            if (response.status !== "ok") {
                alert("Error al abrir la ruta: " + response.msg);
            }
        });
    }
    </script>
</div>

{% endblock %}
